<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile" routerLink="/home/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="jobs" routerLink="/home/jobs">
      <ion-icon aria-hidden="true" name="briefcase-outline"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="dashboard" routerLink="/home/dashboard">
      <img src="assets/img/Item.svg" alt="User Image">       
    </ion-tab-button>
    
    <ion-tab-button tab="invite" routerLink="/home/invite">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Invite</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="notification" routerLink="/home/notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
